*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
}
h1{
  background-color: #081b31 ;
  color: aliceblue;
  font-size: 26px;
  line-height: 5rem;
}
.choice{
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  height: 155px;
  width: 155px;
  object-fit: cover;
  border-radius: 50%;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5vw;
  margin-top: 3rem;
}
.choice:hover{
  background-color: black;
  cursor: pointer;
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}
#user-score,#comp-score{
  font-size: 4rem;
  margin-top: 3rem;
margin-bottom: 2rem;
}
#msg{
  background-color: black;
  color: white;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  padding: 1rem;
  border-radius: 10px;
}